<app-navbar></app-navbar>

<form class="example-form" [formGroup]="logInForm" (ngSubmit)="submit()">
  <h2 mat-dialog-title>Login</h2>
  <mat-form-field class="example-full-width" appearance="outline">
    <mat-label>Email</mat-label>
    <input type="email" matInput formControlName="emailFormControl" [errorStateMatcher]="matcher"
           placeholder="Ex. pat@example.com">
    <mat-hint></mat-hint>
    <mat-error *ngIf="logInForm.controls['emailFormControl'].hasError('email') && !logInForm.controls['emailFormControl'].hasError('required')">
      Please enter a valid email address
    </mat-error>
    <mat-error *ngIf="logInForm.controls['emailFormControl'].hasError('required')">
      Email is <strong>required</strong>
    </mat-error>
  </mat-form-field>
  <mat-form-field class="example-full-width" appearance="outline">
    <mat-label>Password</mat-label>
    <input type="password" matInput formControlName="passwordFormControl" [errorStateMatcher]="matcher"
           placeholder="gf&/#aFJa&!">
    <mat-hint></mat-hint>
    <mat-error *ngIf="logInForm.controls['passwordFormControl'].hasError('password') || !logInForm.controls['passwordFormControl'].hasError('required')">
      Please enter a valid password 
    </mat-error>
    <mat-error *ngIf="logInForm.controls['passwordFormControl'].hasError('required')">
      Password is <strong>required</strong>
    </mat-error>
  </mat-form-field>
  <mat-dialog-actions align="end">
    <button *ngIf="!loading" type="reset" mat-button (click)="reset()">Reset</button>
    <button *ngIf="!loading" type="submit" mat-button cdkFocusInitial [disabled]="logInForm.invalid">Log in</button>
    <mat-spinner [diameter]="36" *ngIf="loading"></mat-spinner>
  </mat-dialog-actions>
</form>
